<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="package.css" />
    <title>Domain Package Card</title>
  </head>
  <body>
    <section id="card_section">
      <div class="card_manager">
        <div class="card">
          <div class="card-header">
            <span>Entry</span>
            <h2 class="price">
              $14<span class="month">/month</span
              ><span class="percentage">10% OFF</span>
            </h2>
            <p>Easy start on the cloud</p>
          </div>
          <div class="card-body">
            <ul>
              <li>Unlimited Websites</li>
              <li>Unlimited Bandwidth</li>
              <li>100 GB SSD Storage</li>
              <li>3 GB RAM</li>
            </ul>
            <button class="buy-button">Buy Now</button>
          </div>
        </div>

        <!-- card two  -->

        <div class="card">
          <div class="card-header" style="background-color: #2584ff;">
            <span>Business</span>
            <h2 class="price">
              $24<span class="month">/month</span
              ><span class="percentage">20% OFF</span>
            </h2>
            <p>Optimal Cloud Experience</p>
          </div>
          <div class="card-body">
            <ul>
              <li>Unlimited Websites</li>
              <li>Unlimited Bandwidth</li>
              <li>100 GB SSD Storage</li>
              <li>3 GB RAM</li>
            </ul>
            <button class="buy-button">Buy Now</button>
          </div>
        </div>

        <!-- Card three  -->
        <section id="card_section">
          <div class="card">
            <div class="card-header">
              <span>Business Plus</span>
              <h2 class="price">
                $54<span class="month">/month</span
                ><span class="percentage">10% OFF</span>
              </h2>
              <p>Easy start on the cloud</p>
            </div>
            <div class="card-body">
              <ul>
                <li>Unlimited Websites</li>
                <li>Unlimited Bandwidth</li>
                <li>100 GB SSD Storage</li>
                <li>3 GB RAM</li>
              </ul>
              <button class="buy-button">Buy Now</button>
            </div>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
