<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Banner.css">
</head>
<body>
    <header class="container">
        <!-- Top Nav Section Start  -->
          <!-- <nav>
            <a href="#"><img src="../../icons/logo.svg" alt="logo" /> </a>
            <div class="nav-links" id="menu">
              <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
              <ul>
                <li><a href="#">Hosting</a></li>
                <li><a href="#">VPS</a></li>
                <li><a href="#">Domain</a></li>
                <li><a href="#">Price</a></li>
              </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
          </nav> -->
        <!-- Top Nav Section End  -->
        <section class="">
          <div class="header_section">
            <div class="text_section">
              <h1 class="text-white">
                Cloud Hosting <br />
                for pros
              </h1>
              <p class="text-white">
                Deploy your website in less than 60 seconds.
              </p>
              <button class="btn">get started</button>
            </div>
            <div class="img_section">
              <img src="../../images/banner.png" alt="banner image" />
            </div>
          </div>
        </section>
      </header>
</body>
</html>