<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <div class="container">
      <div class="footer">
        <div class="brand">
          <img src="/icons/logo.svg" alt="logo" />
          <p>copyright 2024 Mosh</p>
        </div>
        <div class="products">
            <h2>Products</h2>
          <ul>
            <li>wordpress hosting</li>
            <li>free automated wordpress</li>
            <li>migrations</li>
            <li>domain names</li>
            <li>monthly web hosting</li>
          </ul>
        </div>
        <div class="company">
            <h2>company</h2>
          <ul>
            <li>about</li>
            <li>affiliates</li>
            <li>blog</li>
            <li>careers</li>
            <li>community</li>
            <li>news</li>
            <li>green hosting</li>
          </ul>
        </div>
        <div class="support">
            <h2>support</h2>
          <ul>
            <li>contact</li>
            <li>knowledge base</li>
            <li>forums</li>
            <li>system status</li>
            <li>web hosting</li>
            <li>dream compute</li>
          </ul>
        </div>
        <div class="domains">
            <h2>domains</h2>
          <ul>
            <li>domain checker</li>
            <li>domain transfer</li>
            <li>free domain</li>
            <li>xyz domain</li>
            <li>cheap SSL certificate</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
