* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 2% 6%;
  }
  .uses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }
  .uses_text > img {
    width: 4rem;
  }
  .uses_content {
    padding: 1.5rem 0;
  }
  .uses_content > h2 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: sans-serif;
  }
  .uses_content > p {
    line-height: 1.5rem;
  }
  
  .uses_img > img {
    width: 45rem;
  }
  .uses_text > .read_more {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #ff3401;
  }
  .fast{
    flex-direction: row-reverse;
  }
  .support{
    flex-direction: row-reverse;
  }
 
  /* responsive  */
  @media screen and (max-width: 768px) {
    .uses {
      flex-direction: column-reverse;
    }
    .fast {
      flex-direction: column-reverse;
    }
    .support {
      flex-direction: column-reverse;
    }
    .uses_text > img {
      width: 2.5rem;
    }
    .uses_img > img {
      width: 25rem;
    }
    .uses_text > .read_more {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1rem;
      color: #ff3401;
    }
  }
  