<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>control panel</title>
    <link rel="stylesheet" href="control.css" />
  </head>
  <body>
    <div class="container">
      <h2>User-Friendly Control Panel</h2>
      <div class="control_section">
        <div class="control_img">
          <img src="../../images/ipad.png" alt="" />
        </div>
        <div>
          <div class="control_text">
            <img src="/icons/snap.svg" alt="snap image" />
            <div class="text">
              <h2>Easy Start & Managed Updates</h2>
              <p>
                Our cloud plans include easy onboarding for new <br />
                and existing sites and managed WordPress and <br />
                WooCommerce auto-updates
              </p>
            </div>
          </div>

          <div class="control_text">
            <img src="/icons/growth.svg" alt="snap image" />
            <div class="text">
              <h2>Staging, Git & WP-CLI</h2>
              <p>
                We make your Wordpress and WooCommerce <br />
                development flow easier with a convenient staging <br />
                tool and Git and WP-CLI integration
              </p>
            </div>
          </div>

          <div class="control_text">
            <img src="/icons/wordpress.svg" alt="snap image" />
            <div class="text">
              <h2>Dynamic Caching & More</h2>
              <p>
                Speed up your Wordpress and Woo sites with our SG <br />
                Optimizer plugin through smart dynamic caching and <br />
                multiple other performance optimizations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
