<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial </title>
    <link rel="stylesheet" href="testimonial.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>What our Customer are saying</h1>
            <p>Quis imsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan</p>
        </div>
        <div class="testimonial">
            <div class="testimonial_img">
                <img src="/images/testimonial.jpg" alt="testimonial ">
            </div>
            <div class="testimonial_text">
                <q>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. <br> Quis impsum suspendisse ultrices gravida. Risus <br> Commodo viverra maecenas accumsan lacus <br> vel facilisis.</q>
                <h5>--Jhon Lumeo</h5>
                <p>Mosh Company CEO</p>
            </div>
        </div>
    </div>
</body>
</html>