

/* testimonial  */
.container {
  padding: 2% 6%;
}
.title {
  text-align: center;
}

.testimonial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--whiteColor);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.testimonial_img > img {
  width: 400px;
}
.testimonial_text {
  font-size: 1.5rem;
}
.testimonial_text > q {
  line-height: 2rem;
  font-style: italic;
  color: var(--blackTestimonial);
}
.testimonial_text > h5 {
  margin-top: 60px;
  color: var(--primaryColor);
}
.testimonial_text > p {
  color: var(--listColor);
  font-size: 1rem;
}


.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .testimonial {
    flex-direction: column;
  }
  .testimonial_img > img {
    width: 300px;
  }
  .testimonial_text {
    margin-top: 30px;
    font-size: 1.2rem;
  }
  .testimonial_text > h5 {
    margin-top: 30px;
    font-size: 1.2rem;
  }
}
