<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADs</title>
    <link rel="stylesheet" href="ads.css" />
  </head>
  <body>
    <div class="ads">
      <div class="ads_text_container">
        <div class="ads_text">
          <h1>Ready to get Started ?</h1>
          <p>
            Choose the hosting provider that helps you start easy, build <br />
            fast and grow strong! It's risk-free with our 14-day money back
          </p>
        </div>
        <button>GET STARTED</button>
      </div>
    </div>
  </body>
</html>
