* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ads {
  background-color: rgb(96, 62, 245);
  width: 60vw;
  margin: 10px auto;
  padding: 2% 4%;
  color: #fff;
  border-radius: 10px;

}
.ads_text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ads_text > p{
    padding-top: 5px;
}
button{
    padding: 10px 25px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
  .ads_text_container {
    flex-direction: column;
  }
  .ads_text > h1{
    font-size: 1rem;
  }
  .ads_text > p{
    font-size: 0.8rem;
  }
  .ads_text_container > button{
    padding: 5px 25px;
    margin: 10px 0;
}
}